{
	"bracketSpacing": false,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"organizeImportsSkipDestructiveCodeActions": true
			}
		}
	]
}
