:root {
	--user-font-scale: 1rem - 16px;
}

body {
	background-color: theme(colors.shade.DEFAULT);
	color: theme(colors.content.DEFAULT);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 100vw;
	font-size: 1rem;
	font-size: clamp(0.9rem, 0.75rem + 0.375vw + var(--user-font-scale), 1rem);

	:where(& .reset),
	:where(& .reset) * {
		background-color: initial;
		color: initial;
	}
}

#article :is(h1, h2, h3, h4, h5, h6) {
	scroll-margin-top: calc(theme(height.nav) + theme(spacing.4));
}

* {
	outline: none;
}

*:focus {
	@apply ring-accent ring-2;
	:where(.reset) & {
		@apply ring-blue-400;
	}
}

details > summary {
	list-style: none;
	&::-webkit-details-marker,
	&::marker {
		display: none;
	}
}

::selection {
	color: theme(colors.accent.DEFAULT);
	background-color: theme(colors.shade.100);

	.reset &,
	.reset& {
		color: theme(colors.black);
		background-color: theme(colors.blue.200);
	}
}
