<section
	class="text-black flex flex-center h-52 rounded-xl bg-gradient-to-tr from-[#63d8ff] to-[#3a98f0]"
>
	<slot />
</section>

<style lang="postcss" is:global>
	:where(.reset) {
		all: initial;
		@apply font-sans;

		& ::selection {
			@apply text-black bg-blue-200;
		}

		&:focus {
			@apply ring-2 ring-black;
		}
	}
</style>
