---
import * as CONFIG from '../../config';

type Props = {
	editHref: string;
};

const {editHref} = Astro.props as Props;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL;
---

{showMoreSection && <h2 class="mb-2 text-xl font-bold">More</h2>}
<ul>
	{
		editHref && (
			<li class="px-2 py-1 border-l-2 hover:text-accent focus:text-accent border-shade-200">
				<a href={editHref} target="_blank">
					Edit this page
				</a>
			</li>
		)
	}
	{
		CONFIG.COMMUNITY_INVITE_URL && (
			<li class="px-2 py-1 border-l-2 hover:text-accent focus:text-accent border-shade-200">
				<a href={CONFIG.COMMUNITY_INVITE_URL} target="_blank">
					Join our community
				</a>
			</li>
		)
	}
</ul>
