---
import * as CONFIG from '../../config';

interface Props {
	editHref: string;
}

const {editHref} = Astro.props as Props;
const showMoreSection = CONFIG.COMMUNITY_INVITE_URL;
---

{showMoreSection && <h2 class="mb-2 text-lg font-semibold">More</h2>}
<ul class="text-sm">
	{
		editHref && (
			<li>
				<a
					href={editHref}
					target="_blank"
					class="hover:text-accent focus:text-accent border-shade-200 block border-l-2 px-4 py-2 font-medium ring-inset"
				>
					Edit this page
				</a>
			</li>
		)
	}
	{
		CONFIG.COMMUNITY_INVITE_URL && (
			<li>
				<a
					href={CONFIG.COMMUNITY_INVITE_URL}
					target="_blank"
					class="hover:text-accent focus:text-accent border-shade-200 block border-l-2 px-4 py-2 font-medium ring-inset"
				>
					Join our community
				</a>
			</li>
		)
	}
</ul>
