---
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';
import type {MarkdownHeading} from 'astro';

type Props = {
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const {headings, githubEditUrl} = Astro.props as Props;
---

<nav class="sticky top-0 w-full" aria-labelledby="grid-right">
	<div class="h-full pt-8 space-y-4 overflow-auto">
		<TableOfContents client:media="(min-width: 50em)" headings={headings} />
		<MoreMenu editHref={githubEditUrl} />
	</div>
</nav>
